.tc-content-inner { max-width: 100% }
@media (min-width: 668px)  {
	.single-post .sidebar { padding:0; }
}
/*@media screen and (min-width: 480px) and (max-width: 667px) {
	.article-container {
		padding: 0 $base-line-height*2;
	}
}*/


.page__header {
	text-align: center;
	min-height: 300px;

	&.image__header {
		height: calc(  100vh * ( 2 / 3 ) );
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&.plain {
		height: calc( 100vh / 3 );
		background: $grey-lightest;
		.category-info { padding-top:$base-line-height*2; }
	}
	.header-content-inner {
		line-height: normal;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		transform: translate3d(0,-50%,0);
		position: absolute;
	}
	.header-content {
		position: relative;
		z-index:5;
		padding:0;
		width: 100%;
		height: 100%;
		.post-info {
			@extend .small;
			font-family: $serviceFont;
			@extend .letter-spacing-1;
			@extend .semi-bold;
			position: absolute;
			bottom: $base-line-height*2;
			width:100%;
			text-align: center;
			left:0;
  			right:0;
			div { display: inline-block; }
		}
	}
	.entry-title, .archive-title {
		margin: 0
	}
	.btn-edit {
		margin-bottom: 0;
		margin-top: 1em;
	}
	.category-info + .entry-title {
    margin-top: $base-line-height;
	}
}

.bg .page-breadcrumbs { border: none; background: $white; }
.page-breadcrumbs {
	position: relative;
	padding: $base-line-height*1.5 0;
	margin-top: $base-line-height;
	margin-bottom: $base-line-height;
	@media (min-width: 768px) {
		[class^="col-"] { padding:0; }
	}
	.breadcrumb {
		@include clearfix();
		.trail-end, a {
			background: $white;
		  padding: 6px;
			float:left;
			margin-left: $base-line-height*2;
		}
		@extend .small;
		color: $grey-dark;
		a { @include underlined( $black, 1px ); position: relative; color: $black; }
		.trail-begin { padding-left:0; margin-left: 0 }
		position: relative;
		.active, .trail-end {  float:right; }
	}
}

.comment.child {
	margin-left:100px;
}
.post-comments {
	.tabs a { font-size: ms(1); }
}
.post-content {
	color: $black;
}
section[class^="post-"] {
	margin: $base-line-height*4 0 $base-line-height*2 0;
	.row { margin: $base-line-height*4 0 $base-line-height*2 0; }
}

.page__header .category-info a {
	letter-spacing: 3px;
}


.pagination {
	text-align:center;
	margin: 0 auto;
}
.post-section-title {
	@extend .caps;
	@extend .small;
	@extend .letter-spacing-2;
    position: relative;
    text-align:center;
    margin:0 auto;
    margin-top: $base-line-height;
    margin-bottom: $base-line-height*2;
    span {
		 display: inline-block;
  		 position: relative;

    }
    span::before, span::after {
    	content: "";
  		position: absolute;
  		height: 10px;
  		border-bottom: 2px solid $grey-lightest;
   		top: 0;
  		width: 1000%;
    }
    span:before {
		  right: 100%;
		  margin-right: $base-line-height;
	}
	span:after {
		  left: 100%;
		  margin-left: $base-line-height;
	}
}

.post-navigation {
	background:  $grey-lightest;
	padding: $base-line-height;
	margin:0;
	li {
		float:left;
		text-align: center;
	}
	.pagination li { width: auto; }
	li:first-of-type { text-align: left; }
	li:last-of-type  { text-align: right; }
	.meta-nav-title {
		@include transition(all, 0.6s ease);
		@include opacity(0);
		display: inline-block;
		vertical-align: top;
	}
	a i.arrow { font-size: $base-line-height; }
	.page-numbers, a {
		color: $grey;
		font-family: $serviceFont;
		line-height: $base-line-height*3;
		height: $base-line-height*3;
		display: inline-block;
		vertical-align: middle;
		@include transition(all, .3s ease);
		position: relative;
		@extend .small;
		@extend .caps;
		@extend .letter-spacing-2;
	}
	.page-numbers {
		font-family: inherit;
	}
	.post-prev a {
		left: $base-line-height;
	}
	.post-next a {
		right: $base-line-height;
	}
	a:hover i { color:$black; }

	.meta-nav-title { display:none; color: $black; }

	@media (min-width: 992px) {/*md*/
			.meta-nav-title { display: inline-block;}
			.post-prev a {
				left: $base-line-height;
			}
			.post-next a {
				right: $base-line-height;
			}
		a:hover {
			.meta-nav-title { @include opacity(1); }
		}
		.post-prev a:hover {
			;
		}
		.post-next a:hover {

		}
	}

}


.col-avatar-80   { width: 80px; float:left; display:block; }
.col-avatar-64   { width: 64px; float:left; display:block; }
.col-avatar-48   { width: 48px; float:left; display:block; }

.comment-content {
	div[class^="col-"] {
		padding:0;
		position:relative;

	}

	.comment-meta  { display:block; padding-left: $base-line-height; float:left; width:calc(100% - 90px); }
	figure {
		margin:0;
		text-align: right;
		position: relative;
		padding-top:7px;
		width:100%;
		height:100%;
	}
}
.post-author {
	figure {
		position: relative;
		padding: $base-line-height*2;
		border:2px solid $grey-lightest;
		@include clearfix;
		img {
			float:left;
			width:120px;
			height: 120px;
			top: calc((100% - 120px)/2);
			@media (max-width: 992px) {
				width:60px;
				height: 60px;
				clear: both;
				display: block;
				position: relative;
				top: 0;
				left: calc((100% - 60px)/2);
				right: 0;
				float: none;
			}
			position: absolute;
			left: $base-line-height*2;
			border-radius: 50%;
		}
		figcaption {
			padding-left:$base-line-height*2;
			text-align: left;
			margin-left: 120px;
			p { color: $grey-dark; }
			@media (max-width: 992px) {
				margin-left: 0;
				text-align: left;
				padding-left: 0;
			 }
			a:first-of-type {
				@extend .small;
				@extend .caps;
				float:left;
				font-family: $serviceFont;
			}
			.socials { float: right; }
		}
		.post-author-name { margin-top:0; }
		.post-author-title {
			background: $white;
			color: $black;
			border-bottom: 3px solid $black;
			@extend .small;
			@extend .bold;
			letter-spacing: 4px;
			padding: 0 $base-line-height;

			@include transform(rotate(-90deg) translate3d(-50%, -50%, 0));
			white-space: nowrap;
			position: absolute;
			left: -12px;
			top: 50%;
			-webkit-transform-origin: top left;
			-ms-transform-origin: top left;
			-o-transform-origin: top left;
			transform-origin: top left;
		}
	}

}
.comment-meta {
	.comment-author-link { @extend .bold; }
	time { float:right; @extend .small; }
}


section.post-related-articles {
	margin-top: 0;
		header {
			@include clearfix;
			.related-posts_title { float:left; font-weight: 600; margin-top: $base-line-height*2; }
			.related-posts_nav {
				float: right;
				margin-top: $base-line-height*4;
				.slider-control {
					width: 3em;
					height: 3em;
					line-height: 3em;
					display: inline-block;
					vertical-align: middle;
					text-align: center;
					border: 2px solid $grey-lightest;
					@include transition (all, 0.3s ease);
					color: $black;
					&:hover { background: $black; border-color: $black; color: $white; }
					cursor: pointer;
					&.disabled { pointer-events: none; color: $grey-lightest; }
				}
			}
		}

		.grid { margin-top:$base-line-height;  }
		.grid .grid__item {
			h3 { font-weight: 600; }
			background: $grey-lightest;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}

.pagination {
	ul { display: inline-block; vertical-align: middle; margin: 0}
	&.post-pagination {
		@extend .small;
		a {
			color:$grey;
		}
	}

	a:hover, .active a, .current {
		color: $black;
	}
	.current { font-weight: 600;}
	li,
	a + *,
	span + * {
  	margin-left: 1.25em;
	}
	li:first-of-type { margin-left: 0 }
}
.pagination > * > span { color: $black; font-weight: 600 }
.post-share { text-align: right; }
.action-link {
	border-bottom-color: $grey-lightest;
	box-shadow: inset 0 -5px 0 $grey-lightest;
	font-family: $serviceFont;
	@extend .bold;
	@extend .caps;
	color: $black;
	@extend .letter-spacing-2;
	&:hover { color: $grey; }
	span:last-of-type {
		display: none;
		border-bottom: none;
		box-shadow: 0;
	}
	span:first-of-type {
		display: inline-block;
	}
	.open & {
		span:last-of-type {
			display: inline-block;
		}
		span:first-of-type {
			display: none;
		}
	}
}
.comment-edit-btn {
	padding:0.25em 0.67em 0.25em 0.67em ;
}

time span { color: $grey; }
.comment-author a { color: $black; @extend .semi-bold; @include underlined($grey-light, 2px);  }
.comment-meta p { color: $grey-dark; }
.comment-meta time { @extend .service-font; }
.czr-form {

			@media (min-width: 993px) {
				.form-group-text:nth-child(-n+3) {
					width: calc((100% - #{$base-line-height} - 8px)/2);
					display: inline-block;
				}
				.form-group-text:nth-child(3) {
					margin-left: $base-line-height;
				}
			}

}
.wide  {
		.czr-form {

			@media (min-width: 993px) {
				.form-group-text {
					width: calc((100% - #{$base-line-height*2} - 12px)/3);
					display: inline-block;
				}
				.form-group-text  + .form-group-text {
					margin-left: $base-line-height;
				}
			}

		}
}
.comment-cancel-link {
		float:right;
		@extend .small;
		@extend .caps;
		font-family:  $serviceFont;
		@extend .bold;
	}
.comment-reply {
	background: $grey-lightest;
	padding: $base-line-height*2;
	margin-top: $base-line-height*2;
}

.comment-reply-form {
	display:none;
	position: relative;
	padding:$base-line-height $base-line-height*2 $base-line-height*2 $base-line-height*2;
	background:$grey-lightest;
	a.icon{
		position: absolute;
		right: $base-line-height;
		top: $base-line-height;
	}
}
.open .comment-reply-form {
	display: block;
}


.comment-list li.comment { margin-top:$base-line-height*2; padding-top:$base-line-height*2; border-top:1px solid $grey-light; }
.comment-list li.comment.depth-1:first-of-type { border:0 }
.comment-list ul.children    { margin-left: calc(3em + #{$base-line-height});   }
.pingback-list li.pingback {
	padding: $base-line-height 0;
	&:not(:last-of-type) { border-bottom: 1px solid $grey-lightest; }
	strong { font-weight: 600; border-bottom: 1px solid;}
	sup {
		font-family: $serviceFont;
		@extend .bold;
		@extend .letter-spacing-2;
		color: $grey;
		top: -$base-line-height;

	}
	a {
		color: $black;

	}
}

@media (max-width: 768px) {
	.comment-list ul.children { margin-left: $base-line-height;  }
	.comment-author, time.comment-date { float: left; width: 100% }
}
section.post-content { margin-top:0; }
/*.post-content {
	figure {
		position: relative;
		text-align: left;
		margin: $base-line-height*4 0;
	}*/
	.wp-caption-text {
		@extend .small;
		color: $grey;
		text-align: left;
		margin: $base-line-height 0;
		padding: 0;
		&::before {
					content: '';
					border-top: 3px solid $black;
					width: 4em;
					display: block;
					margin-bottom: 1em
		}
	}
/*}*/

/*
 @media (min-width: 993px) {
	.single-post:not(.sidebar-l):not(.sidebar-r):not(.sidebar-lr) {
		.post-content {
			figure {
				img { width: 70%; left:0; display: inline-block; }
				figcaption {
					position: absolute;
					right: 0;
					width: 15rem;
					text-align: left;
					bottom: 0;
					margin-top: 0;
					margin-left: 2rem;
					margin-bottom: 0;
				}
				figcaption::before {
					content: '';
					border-top: 3px solid $black;
					width: 4rem;
					display: block;
					margin-bottom: 2rem
				}
			}
		}
	}
}*/