.secondary-navbar__wrapper .menu-item a {
  padding-top: .425rem;
  padding-bottom: .425rem;
}

/* hamburger and caret */

.caret__dropdown-toggler,
.ham__navbar-toggler {
  position: relative;
  text-align: center;
  z-index: 10001;
  border:none;
  background: none;
  margin: 0;
  vertical-align: middle;
  border-radius: 0;
  cursor: pointer;
  @include transition (all, .3s);
}
.ham__navbar-toggler {
    width: auto;
    text-align: center;
    height: 1.33em;
    display: inline-block;
    float:none;
}
.caret__dropdown-toggler {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    z-index: inherit;
}


.ham-toggler-menu__span  { background: transparent; }

.ham-toggler-menu__span,
.caret__dropdown-toggler__span {
  display: block;
  width: 1rem;
  height: 1.5px;
  position: relative;
  top: 0;
  vertical-align: bottom;
  @include transition (all ease 0.3s);
  &:before, &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: inherit;
      height: inherit;
      transition: all ease .3s;
      outline: .075rem solid transparent;
      left: 0;
  }
}
.caret__dropdown-toggler__span { display:inline-block; vertical-align: middle }
.ham__navbar-toggler .ham-toggler-menu__span:after  { @include transform(rotateZ(45deg));  }
.ham__navbar-toggler .ham-toggler-menu__span:before { @include transform(rotateZ(-45deg));  }
.ham__navbar-toggler.collapsed .ham-toggler-menu__span {
    &:before {
      top: -.375rem;
      @include transform(rotateZ(0));
    }
    &:after {
      top: .375rem;
       @include transform(rotateZ(0));
    }
  }

  .caret__dropdown-toggler__span {
    background: transparent;
    width:5px;
    height:1.5px;

    &:before{
      top:-1px;
      left:0;
      @include transform (rotateZ(45deg));
    }
    &:after {
      top:-1px;
      left:3px;
      @include transform (rotateZ(315deg));

    }
  }
  .dropdown.open > a > span + span .caret__dropdown-toggler__span,
  .dropdown-item.open > a >   span + span .caret__dropdown-toggler__span {
    background: transparent;
    &:before{
      top:-1px;
      left:2px;

    }
    &:after {
      top:-1px;
      left:-1px;

    }
  }

  /* NEW */
  .secondary-navbar__wrapper {
      display:block;
      vertical-align: middle;
      padding: $base-line-height/2 $base-line-height;
      position: relative;
      & > div {
        padding:0
      }
      li {
        @extend .small;
        display: inline-block;
        float:left;
        position: relative;
        vertical-align: middle;
        &.menu-item-has-children { margin-right:$base-line-height; }
      }
      li + li { margin-left:$base-line-height; }
  }
  .secondary-nav__nav {
      ul a {
           display:inline-block;
           position: relative;
           vertical-align: middle;
    }
  }
  .secondary-nav__socials {
     text-align:right;
    .socials {
      float:right;
    }
  }


  .primary-nav__container, .branding__container  {
    display: block;
    float: left;
  }

 .mobile-utils__wrapper {
    vertical-align: middle;
    float: right;
 }
  .hamburger-toggler__container,
  .mobile-woocart__container
  {
      position: relative;
      float:none;
      display:inline-block;
      vertical-align:middle;
      margin:0 auto;
      text-align:center;
      margin-right:$base-line-height;
  }
 .mobile-woocart__container { font-size: 17px;}
   /* BRANDING */

 .branding__container {
      position: relative;
      height:auto;
      text-align: left;
   }

  .branding {
      display: inline-block;
      vertical-align: bottom;
      overflow: hidden;
      max-height: 68px;
      line-height: 68px;
      height:68px;
     @media screen and (min-width: 480px) and (max-width: 667 px) {
        max-width: 100px;
        width: 100px;
     }
      .navbar-logo {
          font-size: 1.75em;
          margin-top:0;
      }
      .navbar-logo.has_tagline {
          margin: 0;
          font-size: 1.5em;
          line-height: 1.5em;
          height: 68px;
          display: inline-block;
          vertical-align: middle;
          height:auto;
          .navbar-brand-tagline {
              font-size:0.5em;
              font-weight: 500;
              line-height: normal;
              padding: 0;
              margin: 0;
              margin-top: 4px;
              display: block;
              width: 100%;
              @media screen and (min-width: 480px) and (max-width: 667 px) {
                  display : none;
              }

          }
      }
      a {
          position: relative;
          width:auto;
          padding: 0;
          margin-bottom: 0;
          display: block;
          span {
              display: block;
              width:100%;
             }
            img {
              max-height: 68px;
            }
        }

  }
  .primary-navbar__wrapper {
      position: relative;
      line-height:68px;
      height:68px;
      z-index:190;
   }

  .primary-nav__container {
        .socials {
            float:right;
           /* height: 68px;
            line-height: 68px;*/
        }

    .primary-nav__nav {
        width: 100%;
        /*@media (min-width: 993px) {  display:inline-block; }*/
        text-align: right;
        .primary-nav__menu-wrapper
        {
          padding-left: 2.5em;
          /*&.pull-menu-left { float: left; }*/
          display:inline-block;
          position: relative;
          /*margin:0 auto;
          left: 0;*/
          /*max-width:calc(100% - 200px); */
          /*width: auto;*/
          @media (min-width: 993px) {  margin-right: $base-line-height*2; }

         .primary-nav__menu {
            text-align:center;
            display:inline-block;
            @extend .small;
            @extend .caps;
            @extend .bold;
            @extend .letter-spacing-1;

            & > li {
                 float:none;
                 position: relative;
                 vertical-align:bottom;
                 display:inline-block;
                 & + li { margin-left: $base-line-height*2; }

                 & > a {
                      position:relative;
                      display:inline-block;
                      vertical-align:bottom;
                      padding:0;
                      @include clearfix();

                  }
            }
            li a {
               span.caret__dropdown-toggler  { position:relative; float: right; height:inherit; }
               & > span:first-of-type { display:block; position:relative; float:left; }
            }
       }
     }

    }

  .primary-nav__utils {
      position:relative;
      display: inline-block;
      float:none;
      text-align:right;
      .utils {
        display: inline-block;
        height: inherit;
        vertical-align: bottom;
       /* li a { height:60px; line-height:60px }*/
      }
      .socials {
         @extend .small;
         position: relative;
         margin-left: $base-line-height;
         padding-left: $base-line-height*2;
         @media (max-width: 992px) {
           width: 100%;
           float:none;
           text-align:  left;
           margin-left: $base-line-height*2;
           li { display: inline-block; }
         }
         @media (min-width: 993px) {

            li + li { margin-left: $base-line-height; }
        }
      }
  }

}
/*
* Header types: Absolute or Standard(pushing) and Sticky
*/
.navbar-sticky,
.header-absolute .topnav_navbars__wrapper {
  left: 0;
  right: 0;
  z-index: 1030
}
@media screen and (min-width: 992px ) {
  .header-absolute {
    .topnav_navbars__wrapper,
    #sticky-placeholder {
      position: absolute;
    }
  }
}
.navbar-sticky.animating { top: -20% !important }

/* Sticky header */
.navbar-to-stick.navbar-sticky {
  position: fixed;
  &:not(.animating) {
    top: 0;
    .admin-bar & { top: 30px }
  }
  @include transition(all 0.5s ease-in-out);
  //@include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.15) );
  .header-transparent & .primary-navbar__wrapper {
    @include box-shadow(1px, 2px, 1px, rgba(102, 102, 102, .08));
  }
  .secondary-navbar__wrapper  { display:none; }
}

@media (min-width: 992px) {
  .branding__container { left:$base-line-height; }
/*  .mobile-utils__wrapper,
  .primary-nav__utils .search-form__container   { display:none; }*/
  .hamburger-menu .mobile-utils__wrapper { display:inherit !important; }
  .primary-navbar__wrapper {
    white-space: nowrap;
    padding-right: $base-line-height; /* same of the left .branding_container property */
  }
  .primary-nav__container {
    float: none;
    padding-left: 2.5em;
    white-space: nowrap;
  }
  .primary-nav__utils { white-space: normal; /* firefox patch */}
}
.woocart.cart-contents,
.desktop_search__link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 992px) {
    .primary-nav__container { width: 100%; }
    .primary-nav__container .primary-nav__utils {
      position: relative;
      display: block;
      margin-bottom:$base-line-height;
      float:none;
    }
    .navbar-sticky {
      padding : 0;
     .primary-nav__container { padding-top:0; }
   }
    .branding__container {
       position: relative;
       padding: 0;
       display: inline-block;
       vertical-align: middle;
       width: 100%;
       @include transition(all, 0.6s ease);
       .branding {

            margin-top:0;
            margin-left:$base-line-height;
            img { max-height: 50px }
            p { padding-top: $base-line-height/4;}
      }
    }

    .primary-navbar__wrapper, .primary-nav__container { padding:0 ; }
    .primary-nav__container  .primary-nav__nav  {
          padding:0;
          & > .primary-nav__menu-wrapper {
            display: block;
            padding:0;
            float:none;
            width:100%;
            max-width:100%;
            .primary-nav__menu  {
                  width:100%;
                  & > li + li { display: block; margin-left: 0 }
                  & > li a    { display: block; line-height: 30px; height:30px; }
                  & > li  {
                    padding: $base-line-height $base-line-height*2;
                    margin-left:0;
                 }
             }
          }

    }
    .primary-nav__container .primary-nav__nav  { width:100%; text-align:left;}
    .primary-nav__container .primary-nav__nav  li { display: block; width:100%; text-align:left; }
    .primary-nav__container .primary-nav__utils .socials { margin-left:0; margin-top: $base-line-height*2; }
    .primary-nav__container .primary-nav__utils .utils {
      display:block;
        li { padding:0 $base-line-height*2; display:block; }
        .search__form {
          .search-field { width: 90% }
          label {
            line-height: normal;
              border-color: $black;
            }
        }
    }
    .primary-nav__container {
      li { position: relative; width:100% }
      .primary-nav__search {
        .czr-form .form-group.in-focus label {
          @include transform(translateY(-50%));
          .icn-close { @include transform(translateY(200%)); }
        }
        .czr-form .form-group { margin: $base-line-height 0;  }
      }
   }
}
/*
* In desktops when resizing below the "collapsing mobile menu" treshold
* always expand submenus when .tc-open-on-hover (which is not available in mobiles )
*/
@media (max-width: 991px){
  .tc-open-on-hover .dropdown-menu {
    display: block !important;
  }
  .tc-open-on-hover .caret__dropdown-toggler {
    display: none !important;
  }
}

