

$skin  		    : #B4B4B4;
$alert          : #e74c3c;
$black   	    : #202020;
$white          : #fff;

$grey           : #B4B4B4;
$grey-light     : #eceeef;
$grey-lightest  : #f7f8f9;
$grey-dark      : #777;

$hamburger-bg-color: darken($black, 10%);

/*
$skin  		    : #076cf2;
$alert          : #e74c3c;
$black   	    : #273238;
$white          : #fff;

$grey           : #c9cacc;
$grey-light     : #eeeff1;
$grey-lightest  : #F8F8F8;
$grey-dark      : #777;


$hamburger-bg-color: darken($black, 10%);
*/
/* potential colours for skins */
$skin_01 : #414b57;
$skin_02 : #323db0;
$skin_03 : #76c3c9;
$skin_04 : #a7cfe6;
$skin_05 : #284AFF;

