/* OVERRIDE WP CUSTOMIZER */
/* LAYOUT */
.wp-customizer .wp-full-overlay.expanded {
  margin-left: 440px;
}
.wp-customizer .wp-full-overlay-sidebar {
  width: 440px;
}
.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -440px;
}
.in-sub-panel #customize-info,
.in-sub-panel #customize-theme-controls > ul > .accordion-section {
  left: -440px;
  width: 440px;
}
#customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
  left: -440px;
}
.accordion-sub-container.control-panel-content {
  left: 440px;
}
.in-sub-panel #tc-donate-customizer,
.in-sub-panel .tc-cta-wrap {
  left: -450px;
  height: 0;
}

/* RTL*/
.rtl.wp-customizer .wp-full-overlay.expanded {
  margin-right: 440px;
  margin-left: 0;
}
.rtl.wp-customizer .wp-full-overlay-sidebar {
  width: 440px;
}
.rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-right: -440px;
  margin-left: 0;
}
.rtl .in-sub-panel #customize-info,
.rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
  right: -440px;
  width: 440px;
}
.rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
  right: -440px;
}
.rtl .accordion-sub-container.control-panel-content {
  right: 440px;
}
.rtl .in-sub-panel #tc-donate-customizer,
.rtl .in-sub-panel .tc-cta-wrap {
  right: -450px;
}


@media screen and (max-width: 1400px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 380px;
  }
  .wp-customizer .wp-full-overlay-sidebar {
    width: 380px;
  }
  .wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -380px;
  }
  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -380px;
    width: 380px;
  }
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -380px;
  }
  .accordion-sub-container.control-panel-content {
    left: 380px;
  }
  .in-sub-panel #tc-donate-customizer,
  .in-sub-panel .tc-cta-wrap {
    left: -380px;
  }
  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 380px;
    margin-left: 0;
  }
  .rtl.wp-customizer .wp-full-overlay-sidebar {
    width: 380px;
  }
  .rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-right: -380px;
    margin-left: 0;
  }
  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -380px;
    width: 380px;
  }
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -380px;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 380px;
  }
  .rtl .in-sub-panel #tc-donate-customizer,
  .rtl .in-sub-panel .tc-cta-wrap {
    right: -380px;
  }
}
/* Reponsive buttons + rating footer actions hack
* What we do is:
* a) stretch heigh and width of the footer-actions
* b) sett an higher bottom vallue for the wp-full-overlay-sidebar-content
* according with the new footer-actions-height
* ( the devices buttons are not visibile for window's width below 1025px
*/
@media screen and (min-width: 980px) {
  .wp-customizer .expanded #customize-footer-actions {
    width: 380px;
  }
}
@media screen and (min-width: 1025px) {
  .wp-customizer .expanded #customize-footer-actions {
    /*height: 85px;*/
    background: inherit;
  }
  .wp-customizer #customize-controls .wp-full-overlay-sidebar-content {
    bottom: 85px;
  }
}
@media screen and (min-width: 1401px) {
  .wp-customizer .expanded #customize-footer-actions {
    width: 440px;
  }
}
/* end hack */

@media screen and (max-width: 979px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 300px;
  }
  .wp-customizer .wp-full-overlay-sidebar {
    width: 300px;
  }
  .wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -300px;
  }
  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -300px;
    width: 300px;
  }
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -300px;
  }
  .accordion-sub-container.control-panel-content {
    left: 300px;
  }
  .in-sub-panel #tc-donate-customizer,
  .in-sub-panel .tc-cta-wrap {
    left: -300px;
  }

  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 300px;
    margin-left: 0;
  }
  .rtl.wp-customizer .wp-full-overlay-sidebar {
    width: 300px;
  }
  .rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-right: -300px;
    margin-left: 0;
  }
  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -300px;
    width: 300px;
  }
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -300px;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 300px;
  }
  .rtl .in-sub-panel #tc-donate-customizer,
  .rtl .in-sub-panel .tc-cta-wrap {
    right: -300px;
  }
}
/* at max-width 640px the wp-full-overlay-sidebar becomes 100% */
@media screen and (max-width: 640px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 0;
  }

  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -100%;
    width: 100%;
  }

  .in-sub-panel .tc-cta-wrap,
  .in-sub-panel #tc-donate-customizer,
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -100%;
  }
  .accordion-sub-container.control-panel-content {
    left: 100%;
  }

  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 0;
  }

  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -100%;
    width: 100%;
    left: auto;
  }
  .rtl .in-sub-panel #tc-donate-customizer,
  .rtl .in-sub-panel .tc-cta-wrap,
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -100%;
    left: auto;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 100%;
  }
}

/* PANELS AND SECTIONS TITLES */
.wp-customizer #customize-theme-controls .accordion-section-title {
  /*color: #1ABC9C;
  font-size: 18px;
  font-weight: normal;*/
}
.wp-customizer .control-section.control-panel .accordion-section-title .panel-title {
  font-size: 24px;
  font-weight: inherit;
  line-height: 30px;
}

/*.wp-core-ui a {
	color: #1ABC9C;
}
.wp-core-ui .button-primary {
	background: #1ABC9C;
	border-color: #15AE90;
}
.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
	background: #15AE90;
	border-color: #15AE90;
}

.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled {
	color: #E5E5E5 !important;
	background: #15AE90 !important;
	border-color: #15AE90 !important;
}*/
.wp-core-ui h3 {
	color: #555;
}
.accordion-section-content {
	padding: 10px 10px 15px 20px;
}
/*.widget-action, .handlediv, .item-edit, .sidebar-name-arrow, .accordion-section-title:after {
	color: #1ABC9C;
}
.control-section.control-panel > .accordion-section-title:after {
	color: #1ABC9C;
}*/
.customize-control-title {
	line-height: 18px;
}

/* since v4.3 */
.wp-customizer #customize-theme-controls .accordion-section-content {
  background: #fff;
}
/*.wp-customizer .customize-panel-back {
  height: 60px;
}
.wp-customizer #customize-controls .customize-info .customize-help-toggle:hover, .wp-customizer #customize-controls .customize-info.open .customize-help-toggle, .wp-customizer #customize-controls .customize-info .customize-help-toggle:focus {
  color:#1ABC9C;
}
.wp-customizer .customize-screen-options-toggle:focus:before, .wp-customizer #customize-controls .customize-info .customize-help-toggle:focus:before {
  -webkit-box-shadow: 0 0 0 1px #1ABC9C;
  box-shadow: 0 0 0 1px #1ABC9C;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.wp-customizer .menu-item-handle:hover .item-type, .wp-customizer .menu-item-handle:hover .item-edit, .wp-customizer #available-menu-items .menu-item-handle:hover .item-add, .wp-customizer .menu-item-handle:hover{
  color: #1ABC9C;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, select:focus, textarea:focus {
    border-color: #1ABC9C!important;
    -webkit-box-shadow: 0 0 2px rgba(26, 188, 156, 0.8)!important;
    box-shadow: 0 0 2px rgba(26, 188, 156, 0.8)!important;
}

.customize-screen-options-toggle:hover, .customize-screen-options-toggle:active, .customize-screen-options-toggle:focus, .active-menu-screen-options .customize-screen-options-toggle, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:hover, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:active, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:focus {
  color: #1ABC9C!important;
}
*/
/*SOCIAL ICONS*/
/* ICONS
  -------------------------------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src:url('../../assets/css/fonts/fonts/fontawesome-webfont.eot');
  src:url('../../assets/css/fonts/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url('../../assets/css/fonts/fonts/fontawesome-webfont.woff2') format('woff2'),
      url('../../assets/css/fonts/fonts/fontawesome-webfont.woff') format('woff'),
      url('../../assets/css/fonts/fonts/fontawesome-webfont.ttf') format('truetype'),
      url('../../assets/css/fonts/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
}
span[class*=tc-icon] {
	margin-bottom: 5px;
}
span[class*=tc-icon]:before {
  font-family: 'FontAwesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #008ec2;
  font-size: 1.5em;
  text-shadow: 0 1px 0 #FFF;
  opacity: 0.8;
  display: inline;
  background: none;
  width: inherit;
  height: inherit;
  vertical-align: inherit;
  line-height: inherit;
  margin: 0px;
  text-decoration: none;
  padding-right: 10px;
  position: relative;
  top: 2px;
}
.rtl span[class*=tc-icon]:before {
  padding-left: 10px;
}
.tc-icon-google:before {
  content: "\f0d5";
}
.tc-icon-facebook:before {
  content: "\f09a";
}
.tc-icon-twitter:before {
  content: "\f099";
}
.tc-icon-rss:before {
  content: "\f09e";
}
.tc-icon-flux:before {
  content: "\f09e";
}
.tc-icon-github:before {
  content: "\f09b";
}
.tc-icon-dribbble:before {
  content: "\f17d";
}
.tc-icon-pinterest:before {
  content: "\f231";
}
.tc-icon-youtube:before {
  content: "\f167";
}
.tc-icon-linkedin:before {
  content: "\f0e1";
}
.tc-icon-wordpress:before {
  content: "\f19a";
}
.tc-icon-instagram:before {
  content: "\f16d";
}
.tc-icon-flickr:before {
  content: "\f16e";
}
.tc-icon-tumblr:before {
  content: "\f173";
}
.tc-icon-email:before {
  content: "\f0e0";
/*  font-size: 1.8em;
  top: 0.8em;*/
}
.tc-icon-vk:before {
  content: "\f189";
}
.tc-icon-yelp:before {
  content: "\f1e9";
}
.tc-icon-xing:before {
  content: "\f168";
}
.tc-icon-snapchat:before {
  content: "\f2ab";
}

/* DONATE BLOCK*/
#tc-donate-customizer {
	background-color: #FFF;
	color: #666;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #EEE;
	margin: 0;
	padding: 4px 15px 4px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    left: 0;
    -webkit-transition: left ease-in-out .18s;
    transition: left ease-in-out .18s;
}
#tc-donate-customizer h3 {
	font-size: 13px;
	margin-bottom: 1px;
	margin-top: 0px;
	width: 94%;
}
#tc-donate-customizer .tc-notice {
	padding-bottom: 4px;
}
#tc-donate-customizer p {
	margin: 0px;
}
#tc-donate-customizer .tc-donate-link {
	display: block;
	text-align: center;
}
#tc-donate-customizer .donate-alert {
	display: none;
	clear: both;
	background-color: #008ec2;
	border-color: 1px solid #D6E9C6;
	color: #FFF;
	padding: 10px;
	margin-top: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#tc-donate-customizer .donate-alert p {
	font-size: 12px;
}
#tc-donate-customizer .donate-alert .button {
	padding: 0 9px 1px;
}

#tc-donate-customizer .tc-close-request{
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 14px;
  line-height: 19px;
  height: 21px;
  margin: 0;
  padding: 1px 6px 0;
  background-color: #008ec2;
  color: white;
  border: none;
  box-shadow: none;
}
.rtl #tc-donate-customizer .tc-close-request {
  left: 8px;
  right: inherit;
}
#tc-donate-customizer .donate-alert .tc-hide-donate, #tc-donate-customizer .donate-alert .tc-cancel-hide-donate {
	padding: 0 5px 1px;
}

.tc-cancel-hide-donate {
  float: right;
}
/* GENERAL STYLE */
.control-section .accordion-section-content {
	overflow-y: auto;
}
li[id*="customize-control-"] {
	margin: 8px 0;
}
/*#customize-info .accordion-section-title {
	padding-bottom: 0px;
}*/

.control-section .accordion-section-title {
	/*padding: 6px 20px!important;*/
}
.control-section .accordion-section-title:after {
	top: 11px;
}
.control-section.control-panel .accordion-section-title:after {
	top: 11px;
	-webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-ms-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-o-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	transition: right .3s ease-in-out, opacity .3s ease-in-out;
	right: 10px;
	opacity:0.7;
}
.rtl .control-section.control-panel .accordion-section-title:after {
	-webkit-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-ms-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-o-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
	left: 10px;
	right: initial;
}
#customize-theme-controls .control-section.control-panel h3.accordion-section-title:hover:after ,  #customize-theme-controls .control-section.control-panel h3.accordion-section-title:focus:after {
	right: 8px;
	/*top: 8px;*/
	opacity:1;
	color: #666!important;
}

.rtl #customize-theme-controls .control-section.control-panel h3.accordion-section-title:hover:after , .rtl #customize-theme-controls .control-section.control-panel h3.accordion-section-title:focus:after {
  left: 6px;
  right: initial;
}
/* Overrides WP built in style : hack for nested section arrow */
#customize-theme-controls .control-section.control-panel>h3.accordion-section-title:focus:after, #customize-theme-controls .control-section.control-panel>h3.accordion-section-title:hover:after, .control-section.control-panel>.accordion-section-title:after {
	background: none!important;
	border: none!important;
}

#customize-theme-controls h3.accordion-section-title {
/*	font-family: "Open Sans", sans-serif;
	font-size: 15px;*/
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}
#customize-theme-controls > .control-section:hover .accordion-section-title, #customize-theme-controls .control-section > .accordion-section-title:hover, #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:focus{
/*	background: #1ABC9C;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	color: #FFF!important;*/
}
#customize-theme-controls > .control-section:hover .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:focus::after {
	color: #FFF;
}
.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
	line-height: 16px;
  margin-left: 0;
}
.customize-control-title {
	color: #555;
	font-size: 13px;
}
.tc-customizr-title {
	/* color: #555; */
	text-transform: uppercase;
	/* text-shadow: 0 1px 0 #FFF; */
	margin: 1em 0em 5px 0em;
	font-size: 15px!important;
	border-bottom: 1px dotted #000;
	padding-bottom: 5px;
  text-align: center;
}
h3.tc-customizr-title::before {
  content: '\00b7';
  padding-right: 3px;
}
h3.tc-customizr-title::after {
  content: '\00b7';
  padding-left: 3px;
}
.tc-after-button {
	border-color: white;
	margin-top:15px;
}
.tc-emphasize {
	line-height: 1.2em;
	color: #2E2E2E;
}
i.tc-notice {
	display: block;
	clear: both;
}
span.tc-notice {
	color: #313131;
    font-size: 12px;
    font-style: italic;
    clear: both;
    display: block;
    line-height: 18px;
}
.tc-customizer-separator-invisible {
	border:none;
	margin-top:15px;
}
.tc-skin-gen-label {
	float: left;
}
.tc-skin-gen-color-picker {
	float: right;
}
.tc-number-label {
	float: left;
}
.tc-number-input {
	float: right;
}
.tc-check-label {
	float: left;
	max-width: 85%;
}
/* RTL position fix */
.rtl .tc-check-label {
	float: right;
}
input[type=checkbox], input[type=radio] {
	float: right;
	min-height: 18px;
}
.tc-font-select {
	float: left;
}

/* CUSTOM CSS TEXT AREA */
li#customize-control-tc_theme_options-tc_custom_css textarea {
	font-size: 14px;
	background: #394143;
	color: #E2E728;
	min-height: 300px;
}



/* iCheck plugin Flat skin, green
----------------------------------- */
.icheckbox_flat-green,
.iradio_flat-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(img/green.png) no-repeat;
    border: none;
    cursor: pointer;
    top: 4px;
    float: right;
}
/* RTL fix of check box position */
.rtl .icheckbox_flat-green {
	float: left;
}
.icheckbox_flat-green {
    background-position: 0 0;
}
.icheckbox_flat-green.checked {
    background-position: -22px 0;
}
.icheckbox_flat-green.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-green.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-green {
    background-position: -88px 0;
}
.iradio_flat-green.checked {
    background-position: -110px 0;
}
.iradio_flat-green.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-green.checked.disabled {
    background-position: -154px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-green,
    .iradio_flat-green {
        background-image: url(img/green@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* iCheck plugin Flat skin, grey
----------------------------------- */
.icheckbox_flat-grey,
.iradio_flat-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(img/grey.png) no-repeat;
    border: none;
    cursor: pointer;
    top: 4px;
    float: right;
}

.icheckbox_flat-grey {
    background-position: 0 0;
}
    .icheckbox_flat-grey.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-grey.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-grey.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-grey {
    background-position: -88px 0;
}
    .iradio_flat-grey.checked {
        background-position: -110px 0;
    }
    .iradio_flat-grey.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-grey.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-grey,
    .iradio_flat-grey {
        background-image: url(img/grey@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}


/*
 * Selecter v3.1.9 - 2014-09-02
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library.
 * http://formstone.it/selecter/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */
.selecter-element { *left: -999999px; position: absolute; opacity: 0; }
.selecter { display: block;float: right;margin: 2px 0;position: relative;width: 100%;z-index: 100; }
.selecter .selecter-selected { background: #F9F9F9 url(img/jquery.fs.selecter-arrow.png) no-repeat right center; border: 1px solid #ccc; border-radius: 3px; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 4px 4.6%; position: relative; text-overflow: clip; z-index: 49; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);height: auto;line-height: 18px;width: 90%; }

.selecter .selecter-options { border: 1px solid #ccc; border-width: 0 1px 1px; background-color: #fefefe; border-radius: 0 0 3px 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); display: none; left: 0; margin: 0; max-height: 260px; overflow: auto; overflow-x: hidden; padding: 0; position: relative; top: 100%; width: 99%; *width: auto; z-index: 50; }
.selecter .selecter-group { background: #F9F9F9; border-bottom: 1px solid #e3e3e3; color: #999; display: block; font-size: 11px; padding: 5px 10px 4px; text-transform: uppercase; }
.selecter .selecter-item { background: #fff; border-bottom: 1px solid #e3e3e3; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 8px 10px; text-overflow: ellipsis; width: 86%;height: auto;line-height: 14px;padding: 8px 24px 8px 10px;}
.selecter .selecter-item.selected { background: #F9F9F9; }
.selecter .selecter-item.disabled { color: #999; cursor: default; }
.selecter .selecter-item:first-child { border-radius: 0; }
.selecter .selecter-item:last-child { border-radius: 0 0 2px 2px; border-bottom: 0; }

/* CUSTOM FOR CUSTOMIZR */
.rtl .selecter .selecter-selected {
  background: #F9F9F9 url(img/jquery.fs.selecter-arrow.png) no-repeat 4% center;
}

@media screen and (min-width: 980px) {
  .selecter .selecter-item:hover,
  .selecter .selecter-item.selected:hover { background-color: #f3f3f3; }
  .selecter .selecter-item.disabled:hover { background-color: #fff; }

  .selecter:hover .selecter-selected { background-color: #fff; }

  .selecter.disabled .selecter-item:hover { background: #fff; }
}

/* Open */
.selecter.open { z-index: 101; }
.selecter.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 51; }

.selecter.open .selecter-selected,
.selecter.focus .selecter-selected { background-color: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

/* 'Cover' Positioning */
.selecter.cover .selecter-options { border-radius: 3px; border-width: 1px; top: 0; }
.selecter.cover .selecter-options .selecter-item.first { border-radius: 3px 3px 0 0; }
.selecter.cover.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 49; }

/* 'Bottom' Positioning */
.selecter.bottom .selecter-options { border-width: 1px 1px 0; bottom: 100%; top: auto; }
.selecter.bottom .selecter-item:last-child { border: none; }
.selecter.bottom.open .selecter-selected { border-radius: 0 0 3px 3px; }
.selecter.bottom.open .selecter-options { border-radius: 3px 3px 0 0; }

/* 'Bottom' + 'Cover' Positioning */
.selecter.bottom.cover .selecter-options { bottom: 0; top: auto; }
.selecter.bottom.cover.open .selecter-selected { border-radius: 3px; }
.selecter.bottom.cover.open .selecter-options { border-radius: 3px; }

/* Multiple Select */
.selecter.multiple .selecter-options { border-radius: 3px; border-width: 1px; box-shadow: none; display: block; position: static; width: 100%; }

/* 'Disabled' State */
.selecter.disabled .selecter-selected { background: #fff; border-color: #eee; color: #ccc; cursor: default; }
.selecter.disabled .selecter-options { background: #fff; border-color: #eee; }
.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item { border-color: #eee; color: #ccc; cursor: default; }
.selecter.disabled .selecter-item.selected { background: #fafafa; }

/* Scroller Support */
.selecter .selecter-options.scroller { overflow: hidden; }
.selecter .selecter-options.scroller .scroller-content { max-height: 260px; padding: 0; }

/* Media Queries */
@media screen and (max-width: 740px) {
  .selecter { max-width: 100%; }
}
@media screen and (max-width: 500px) {
  .selecter { max-width: 100%; }
}


/*
 * Stepper v3.0.7 - 2014-05-07
 * A jQuery plugin for cross browser number inputs. Part of the Formstone Library.
 * http://formstone.it/stepper/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */
.stepper { border-radius: 3px; margin: 0 0 10px 0; overflow: hidden; position: relative; width: 35%;float: left; clear: both;}
.stepper .stepper-input { background: #F9F9F9; border: 1px solid #ccc; border-radius: 3px; color: #333; font-size: 13px; line-height: 1.2; margin: 0; overflow: hidden; padding: 5px 10px 5px!important; width: 100%!important; z-index: 49;	-moz-appearance: textfield;max-width: none!important;
}

.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.stepper .stepper-input:focus { background-color: #fff; }
.stepper .stepper-arrow { background: #eee url(img/jquery.fs.stepper-arrows.png) no-repeat; border: 1px solid #ccc; cursor: pointer; display: block; height: 46%; position: absolute; right: 0; text-indent: -99999px; width: 20px; z-index: 50; }
.stepper .stepper-arrow.up { background-position: center top; border-bottom: none; top: 0; }
.stepper .stepper-arrow.down { background-position: center bottom; bottom: 0; }

/* CUSTOM FOR CUSTOMIZR */
.rtl .stepper .stepper-input {
  text-align: left;
}

@media screen and (min-width: 740px) {
	.stepper:hover .stepper-input { background-color: #fff; }

	.stepper .stepper-step:hover { background-color: #F9F9F9; }

	.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }
}

.stepper.disabled .stepper-input { background: #fff; border-color: #eee; color: #ccc; }
.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }


/* SELECT 2 SPECIFICS */
body .select2-container {
	width: 100%;
}
body .select2-drop {
	z-index: 999999;
}
body .select2-drop-active {
    border: 1px solid #008ec2;
}
body .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #008ec2;
}
body .select2-container-active .select2-choices {
    border: 1px solid #008ec2;
}
body .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #008ec2;
}
body .select2-container-active .select2-choice,
body .select2-container-active .select2-choices {
    border: 1px solid #008ec2;
}
body .select2-container .select2-choice > .select2-chosen {
	margin-right: 0px;
}
body .select2-container .select2-choice {
	padding: 0px;
}
body li.select2-results-dept-0.select2-result.select2-result-selectable {
	padding: 0;
}
body .select2-results .select2-result-label {
	padding: 0;
}
body .select2-results .select2-highlighted {
    background: #eee;
}
body .select2-results li em {
    background: #F4F4F4;
}
.select2-results .tc-select2-skin-color {
	padding: 8px 0px;
}
body .select2-results {
	max-height: 360px
}
.tc-select2-skin-color {
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
	padding: 0;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
	color: #FFF;
	-webkit-transition: box-shadow .25s ease;
	-moz-transition: box-shadow .25s ease;
	-ms-transition: box-shadow .25s ease;
	-o-transition: box-shadow .25s ease;
	transition: box-shadow .25s ease;
	/* vertical-align: middle; */
}
.select2-chosen .tc-select2-skin-color, .tc-select2-skin-color:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow: none;
	/*font-size: 15px;*/
}
.tc-select2-font {
  padding: 7px 7px 4px;
  line-height: 20px;
}
.select2-results .select2-highlighted .tc-select2-font{
  color: #555;
}
.select2-results li.select2-result-with-children>.select2-result-label {
  font-weight: 700;
  text-align: center;
  padding-top: 3px;
  line-height: 22px;
}
/* FONTS */
#select2-results-4 {
  padding: 0;
  margin: 0;
}
#select2-results-4 .select2-results-dept-0 > div.select2-result-label {
 height: 30px;
 padding: 7px 7px 1px;
 text-transform: uppercase;
}
#select2-results-4 li {
  margin-bottom: 0;
}
#select2-results-4 li li {
  line-height: 30px;
}
#select2-results-4 .select2-result-label {
  border-bottom: 1px solid #E3E3E3;
  text-overflow: ellipsis;
}
.tc-title-google-logo {
  display: block;
  float: left;
  position: relative;
  z-index: 100;
  padding: 2px 4px 0 14px;
  top: 10px;
}
.rtl .tc-title-google-logo {
  float: right;
  padding: 2px 18px 0 7px;
}
.tc-google-logo {
  position: relative;
  top: 6px;
}


/* Call to actions block */
.tc-cta-wrap {
  background-color: #FFF;
  color: #666;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 4px 15px 4px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  -webkit-transition: left ease-in-out .18s;
  transition: left ease-in-out .18s;
}

.tc-in-control-cta-wrap {
  background-color: #8C8C8C;
  color: #fff;
  border-left: 0;
  border-right: 0;
  margin: 10px 0;
  padding: 10px 2%;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  clear: both;
  width: 96%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
}

.tc-in-control-cta-wrap .tc-notice {
  font-weight: bold;
  color: #fff;
}
.tc-in-control-cta-wrap .tc-notice-ext-icon {
  font-size: 17px;
  text-decoration: none;
}
.tc-in-control-cta-wrap .tc-notice-inline-link {
  color: #fff;
  text-decoration: underline!important;
}
.tc-cta .tc-cta-btn:hover {
  color: #fff;
  background: #ed9c28;
  border-color: #d58512;
}

.tc-cta .tc-cta-btn {
  font-size: 15px;
  font-weight: 500;
  margin-top: 2px;
  padding: 4px 14px;
  display: inline-block;
  color: #fff;
  background: #f0ad4e;
  border: 1px solid #eea236;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 24px;
}

.tc-cta .tc-cta-btn:active {
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tc-grid-control-section {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 8px;
}
.tc-grid-toggle-controls {
  font-size: 15px;
  text-transform: uppercase;
  /*font-weight: bold;*/
  clear: both;
  width: 100%;
  display: block;
  float: left;
  margin: 15px 0;
  cursor: pointer;
  color: #000;
}
.tc-grid-toggle-controls::before {
  content: '+';
  font-size: 18px;
  display: block;
  float: left;
  background: #000;
  padding: 5px;
  line-height: 11px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  margin-right: 5px;
  bottom: 2px;
  width: 12px;
  height: 12px;
  text-align: center;
  position: relative;
}

.tc-grid-toggle-controls.open::before {
  content: '-';
  line-height: 11px;
}
.tc-grid-design-controls {
  border-left: 2px dotted #008ec2;
  width: 89%;
  float: left;
  background: #F5F5F5;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.appended > .tc-grid-design-controls {
  padding: 5%;
}
.tc-grid-design {
  border-left: 2px dotted #008ec2;
  margin-left: 3%;
  padding-left: 3%;
  width: 93%;
  font-style: italic;
}
.customize-control .tc-navigate-to-post-list {
  color: #008ec2;
  font-weight: bold;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 8px;
}

.tc-sub-control {
  padding-left: 13%;
  max-width: 87%;
  position: relative;
}

.tc-sub-control:before {
  content: '';
  height: 116%;
  background: #008ec2;
  width: 2%;
  position: absolute;
  left: 7%;
}

/* Rate link */
#customize-footer-actions .collapse-sidebar-label {
  /*display: none;*/
}
.tc-rate-link {
  position: absolute;
  bottom: 0;
  left: 40px;
  padding: 4px 12px 4px 0;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
  right: 0;
}

.rtl .tc-rate-link {
  text-align: left;
  left: auto;
  right: 40px;
  padding: 4px 0 4px 12px;
}
.wp-full-overlay.collapsed .tc-rate-link {
  display: none;
}
.tc-rate-link .tc-stars {
  color: #E6B800;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
}
/* Cropped Image style */
/* Unified with the default cropped_image CSS */
.customize-control-tc_cropped_image .upload-button {
  float: right;
}
.customize-control-tc_cropped_image .remove-button {
  float: left;
  margin-right: 3px;
}
.customize-control-tc_cropped_image .actions {
  margin-bottom: 32px;
}
.customize-control-tc_cropped_image .current {
  margin-bottom: 8px;
}
.customize-control-tc_cropped_image .upload-button,
.customize-control-tc_cropped_image .remove-button {
  white-space: normal;
  width: 48%;
  height: auto;
}

.customize-control-tc_cropped_image .current .container {
  min-height: 40px;
  overflow: hidden;
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.customize-control-tc_cropped_image .placeholder {
    width: 100%;
    position: relative;
    text-align: center;
    cursor: default;
    border: 1px dashed #b4b9be;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 40px;
}
.customize-control-tc_cropped_image img {
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.customize-control-tc_cropped_image .inner {
  line-height: 20px;
  top: 8px;
  min-height: 40px;
  display: block;
  position: absolute;
  width: 100%;
  color: #555;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* rtl */
/* end tc cropped image */
.rtl .customize-control-tc_cropped_image .upload-button {
  float: left;
}
.rtl .customize-control-tc_cropped_image .remove-button {
  float: right;
  margin-left: 3px;
}

